{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://robomaker.amazonaws.com/"
        },
        {
            "url": "http://robomaker.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "his section provides documentation for the AWS RoboMaker API operations.",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS RoboMaker",
        "version": "2018-06-29",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/robomaker-2018-06-29.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "robomaker"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/robomaker/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/batchDescribeSimulationJob": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Describes one or more simulation jobs.",
                "operationId": "BatchDescribeSimulationJob",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "jobs": {
                                            "description": "A list of simulation jobs.",
                                            "items": {
                                                "description": "Information about a simulation job.",
                                                "properties": {
                                                    "arn": {
                                                        "description": "The Amazon Resource Name (ARN) of the simulation job.",
                                                        "maxLength": 1224,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    },
                                                    "clientRequestToken": {
                                                        "description": "A unique identifier for this <code>SimulationJob</code> request.",
                                                        "maxLength": 64,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9_\\-=]*",
                                                        "type": "string"
                                                    },
                                                    "failureBehavior": {
                                                        "description": "<p>The failure behavior the simulation job.</p> <dl> <dt>Continue</dt> <dd> <p>Restart the simulation job in the same host instance.</p> </dd> <dt>Fail</dt> <dd> <p>Stop the simulation job and terminate the instance.</p> </dd> </dl>",
                                                        "enum": [
                                                            "Fail",
                                                            "Continue"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "failureCode": {
                                                        "description": "The failure code of the simulation job if it failed.",
                                                        "enum": [
                                                            "InternalServiceError",
                                                            "RobotApplicationCrash",
                                                            "SimulationApplicationCrash",
                                                            "BadPermissionsRobotApplication",
                                                            "BadPermissionsSimulationApplication",
                                                            "BadPermissionsS3Output",
                                                            "BadPermissionsCloudwatchLogs",
                                                            "SubnetIpLimitExceeded",
                                                            "ENILimitExceeded",
                                                            "BadPermissionsUserCredentials",
                                                            "InvalidBundleRobotApplication",
                                                            "InvalidBundleSimulationApplication",
                                                            "RobotApplicationVersionMismatchedEtag",
                                                            "SimulationApplicationVersionMismatchedEtag",
                                                            "WrongRegionS3Output",
                                                            "WrongRegionRobotApplication",
                                                            "WrongRegionSimulationApplication"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "failureReason": {
                                                        "description": "The reason why the simulation job failed.",
                                                        "type": "string"
                                                    },
                                                    "iamRole": {
                                                        "description": "The IAM role that allows the simulation instance to call the AWS APIs that are specified in its associated policies on your behalf. This is how credentials are passed in to your simulation job. See how to <a href=\"https://docs.aws.amazon.com/toolkit-for-visual-studio/latest/user-guide/deployment-ecs-specify-credentials\">specify AWS security credentials for your application</a>. ",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    },
                                                    "lastUpdatedAt": {
                                                        "description": "The time, in milliseconds since the epoch, when the simulation job was last updated.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "maxJobDurationInSeconds": {
                                                        "description": "The maximum simulation job duration in seconds. The value must be 8 days (691,200 seconds) or less.",
                                                        "type": "integer"
                                                    },
                                                    "name": {
                                                        "description": "The name of the simulation job.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9_\\-]*",
                                                        "type": "string"
                                                    },
                                                    "outputLocation": {
                                                        "description": "Location for output files generated by the simulation job.",
                                                        "properties": {
                                                            "s3Bucket": {
                                                                "description": "The S3 bucket for output.",
                                                                "maxLength": 63,
                                                                "minLength": 3,
                                                                "pattern": "[a-z0-9][a-z0-9\\-]*[a-z0-9]",
                                                                "type": "string"
                                                            },
                                                            "s3Prefix": {
                                                                "description": "The S3 folder in the <code>s3Bucket</code> where output files will be placed.",
                                                                "maxLength": 1024,
                                                                "minLength": 1,
                                                                "pattern": ".*",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "robotApplications": {
                                                        "description": "A list of robot applications.",
                                                        "items": {
                                                            "description": "Application configuration information for a robot.",
                                                            "properties": {
                                                                "application": {
                                                                    "description": "The application information for the robot application.",
                                                                    "maxLength": 1224,
                                                                    "minLength": 1,
                                                                    "pattern": "arn:.*",
                                                                    "type": "string"
                                                                },
                                                                "applicationVersion": {
                                                                    "description": "The version of the robot application.",
                                                                    "maxLength": 255,
                                                                    "minLength": 1,
                                                                    "pattern": "(\\$LATEST)|[0-9]*",
                                                                    "type": "string"
                                                                },
                                                                "launchConfig": {
                                                                    "description": "The launch configuration for the robot application.",
                                                                    "properties": {
                                                                        "environmentVariables": {
                                                                            "description": "The environment variables for the application launch.",
                                                                            "items": {
                                                                                "properties": {
                                                                                    "key": {
                                                                                        "maxLength": 1024,
                                                                                        "minLength": 1,
                                                                                        "pattern": "[A-Z_][A-Z0-9_]*",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "value": {
                                                                                        "maxLength": 1024,
                                                                                        "minLength": 1,
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "maxItems": 16,
                                                                            "minItems": 0,
                                                                            "type": "array"
                                                                        },
                                                                        "launchFile": {
                                                                            "description": "The launch file name.",
                                                                            "type": "string"
                                                                        },
                                                                        "packageName": {
                                                                            "description": "The package name.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "packageName",
                                                                        "launchFile"
                                                                    ],
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "required": [
                                                                "application",
                                                                "launchConfig"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "maxItems": 1,
                                                        "minItems": 1,
                                                        "type": "array"
                                                    },
                                                    "simulationApplications": {
                                                        "description": "A list of simulation applications.",
                                                        "items": {
                                                            "description": "Information about a simulation application configuration.",
                                                            "properties": {
                                                                "application": {
                                                                    "description": "The application information for the simulation application.",
                                                                    "maxLength": 1224,
                                                                    "minLength": 1,
                                                                    "pattern": "arn:.*",
                                                                    "type": "string"
                                                                },
                                                                "applicationVersion": {
                                                                    "description": "The version of the simulation application.",
                                                                    "maxLength": 255,
                                                                    "minLength": 1,
                                                                    "pattern": "(\\$LATEST)|[0-9]*",
                                                                    "type": "string"
                                                                },
                                                                "launchConfig": {
                                                                    "description": "The launch configuration for the simulation application.",
                                                                    "properties": {
                                                                        "environmentVariables": {
                                                                            "description": "The environment variables for the application launch.",
                                                                            "items": {
                                                                                "properties": {
                                                                                    "key": {
                                                                                        "maxLength": 1024,
                                                                                        "minLength": 1,
                                                                                        "pattern": "[A-Z_][A-Z0-9_]*",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "value": {
                                                                                        "maxLength": 1024,
                                                                                        "minLength": 1,
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "maxItems": 16,
                                                                            "minItems": 0,
                                                                            "type": "array"
                                                                        },
                                                                        "launchFile": {
                                                                            "description": "The launch file name.",
                                                                            "type": "string"
                                                                        },
                                                                        "packageName": {
                                                                            "description": "The package name.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "packageName",
                                                                        "launchFile"
                                                                    ],
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "required": [
                                                                "application",
                                                                "launchConfig"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "maxItems": 1,
                                                        "minItems": 1,
                                                        "type": "array"
                                                    },
                                                    "simulationTimeMillis": {
                                                        "description": "The simulation job execution duration in milliseconds.",
                                                        "type": "integer"
                                                    },
                                                    "status": {
                                                        "description": "Status of the simulation job.",
                                                        "enum": [
                                                            "Pending",
                                                            "Preparing",
                                                            "Running",
                                                            "Restarting",
                                                            "Completed",
                                                            "Failed",
                                                            "RunningFailed",
                                                            "Terminating",
                                                            "Terminated",
                                                            "Canceled"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "tags": {
                                                        "description": "A map that contains tag keys and tag values that are attached to the simulation job.",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "maxLength": 128,
                                                                    "minLength": 1,
                                                                    "pattern": "[a-zA-Z0-9 _.\\-\\/+=:]*",
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "maxLength": 256,
                                                                    "minLength": 0,
                                                                    "pattern": "[a-zA-Z0-9 _.\\-\\/+=:]*",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "maxItems": 50,
                                                        "minItems": 0,
                                                        "type": "array"
                                                    },
                                                    "vpcConfig": {
                                                        "description": "VPC configuration information.",
                                                        "properties": {
                                                            "assignPublicIp": {
                                                                "description": "A boolean indicating if a public IP was assigned.",
                                                                "type": "boolean"
                                                            },
                                                            "securityGroups": {
                                                                "description": "A list of security group IDs associated with the simulation job.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "maxItems": 5,
                                                                "minItems": 1,
                                                                "type": "array"
                                                            },
                                                            "subnets": {
                                                                "description": "A list of subnet IDs associated with the simulation job.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "maxItems": 16,
                                                                "minItems": 1,
                                                                "type": "array"
                                                            },
                                                            "vpcId": {
                                                                "description": "The VPC ID associated with your simulation job.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "unprocessedJobs": {
                                            "description": "A list of unprocessed simulation job Amazon Resource Names (ARNs).",
                                            "items": {
                                                "maxLength": 1224,
                                                "minLength": 1,
                                                "pattern": "arn:.*",
                                                "type": "string"
                                            },
                                            "maxItems": 100,
                                            "minItems": 1,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "jobs": {
                                        "description": "A list of Amazon Resource Names (ARNs) of simulation jobs to describe.",
                                        "items": {
                                            "maxLength": 1224,
                                            "minLength": 1,
                                            "pattern": "arn:.*",
                                            "type": "string"
                                        },
                                        "maxItems": 100,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "jobs"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/cancelSimulationJob": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Cancels the specified simulation job.",
                "operationId": "CancelSimulationJob",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "job": {
                                        "description": "The simulation job ARN to cancel.",
                                        "maxLength": 1224,
                                        "minLength": 1,
                                        "pattern": "arn:.*",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "job"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/createDeploymentJob": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deploys a specific version of a robot application to robots in a fleet.</p> <p>The robot application must have a numbered <code>applicationVersion</code> for consistency reasons. To create a new version, use <code>CreateRobotApplicationVersion</code> or see <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/create-robot-application-version.html\">Creating a Robot Application Version</a>. </p>",
                "operationId": "CreateDeploymentJob",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "arn": {
                                            "description": "The Amazon Resource Name (ARN) of the deployment job.",
                                            "maxLength": 1224,
                                            "minLength": 1,
                                            "pattern": "arn:.*",
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "description": "The time, in milliseconds since the epoch, when the fleet was created.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "deploymentApplicationConfigs": {
                                            "description": "The deployment application configuration.",
                                            "items": {
                                                "description": "Information about a deployment application configuration.",
                                                "properties": {
                                                    "application": {
                                                        "description": "The Amazon Resource Name (ARN) of the robot application.",
                                                        "maxLength": 1224,
                                                        "minLength": 1,
                                                        "pattern": "arn:.*",
                                                        "type": "string"
                                                    },
                                                    "applicationVersion": {
                                                        "description": "The version of the application.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "pattern": "[0-9]*",
                                                        "type": "string"
                                                    },
                                                    "launchConfig": {
                                                        "description": "The launch configuration.",
                                                        "properties": {
                                                            "environmentVariables": {
                                                                "description": "An array of key/value pairs specifying environment variables for the robot application",
                                                                "items": {
                                                                    "properties": {
                                                                        "key": {
                                                                            "maxLength": 1024,
                                                                            "minLength": 1,
                                                                            "pattern": "[A-Z_][A-Z0-9_]*",
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "maxLength": 1024,
                                                                            "minLength": 1,
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "maxItems": 16,
                                                                "minItems": 0,
                                                                "type": "array"
                                                            },
                                                            "launchFile": {
                                                                "description": "The launch file name.",
                                                                "type": "string"
                                                            },
                                                            "packageName": {
                                                                "description": "The package name.",
                                                                "type": "string"
                                                            },
                                                            "postLaunchFile": {
                                                                "description": "The deployment post-launch file. This file will be executed after the launch file.",
                                                                "type": "string"
                                                            },
                                                            "preLaunchFile": {
                                                                "description": "The deployment pre-launch file. This file will be executed prior to the launch file.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "packageName",
                                                            "launchFile"
                                                        ],
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [
                                                    "application",
                                                    "applicationVersion",
                                                    "launchConfig"
                                                ],
                                                "type": "object"
                                            },
                                            "maxItems": 1,
                                            "minItems": 1,
                                            "type": "array"
                                        },
                                        "deploymentConfig": {
                                            "description": "The deployment configuration.",
                                            "properties": {
                                                "concurrentDeploymentPercentage": {
                                                    "description": "The percentage of robots receiving the deployment at the same time.",
                                                    "maximum": 100,
                                                    "minimum": 1,
                                                    "type": "integer"
                                                },
                                                "failureThresholdPercentage": {
                                                    "description": "The percentage of deployments that need to fail before stopping deployment.",
                                                    "maximum": 100,
                                                    "minimum": 1,
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "failureCode": {
                                            "description": "<p>The failure code of the simulation job if it failed:</p> <dl> <dt>BadPermissionError</dt> <dd> <p>AWS Greengrass requires a service-level role permission to access other services. The role must include the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSGreengrassResourceAccessRolePolicy$jsonEditor\"> <code>AWSGreengrassResourceAccessRolePolicy</code> managed policy</a>. </p> </dd> <dt>ExtractingBundleFailure</dt> <dd> <p>The robot application could not be extracted from the bundle.</p> </dd> <dt>FailureThresholdBreached</dt> <dd> <p>The percentage of robots that could not be updated exceeded the percentage set for the deployment.</p> </dd> <dt>GreengrassDeploymentFailed</dt> <dd> <p>The robot application could not be deployed to the robot.</p> </dd> <dt>GreengrassGroupVersionDoesNotExist</dt> <dd> <p>The AWS Greengrass group or version associated with a robot is missing.</p> </dd> <dt>InternalServerError</dt> <dd> <p>An internal error has occurred. Retry your request, but if the problem persists, contact us with details.</p> </dd> <dt>MissingRobotApplicationArchitecture</dt> <dd> <p>The robot application does not have a source that matches the architecture of the robot.</p> </dd> <dt>MissingRobotDeploymentResource</dt> <dd> <p>One or more of the resources specified for the robot application are missing. For example, does the robot application have the correct launch package and launch file?</p> </dd> <dt>PostLaunchFileFailure</dt> <dd> <p>The post-launch script failed.</p> </dd> <dt>PreLaunchFileFailure</dt> <dd> <p>The pre-launch script failed.</p> </dd> <dt>ResourceNotFound</dt> <dd> <p>One or more deployment resources are missing. For example, do robot application source bundles still exist? </p> </dd> <dt>RobotDeploymentNoResponse</dt> <dd> <p>There is no response from the robot. It might not be powered on or connected to the internet.</p> </dd> </dl>",
                                            "enum": [
                                                "ResourceNotFound",
                                                "FailureThresholdBreached",
                                                "RobotDeploymentNoResponse",
                                                "GreengrassDeploymentFailed",
                                                "MissingRobotArchitecture",
                                                "MissingRobotApplicationArchitecture",
                                                "MissingRobotDeploymentResource",
                                                "GreengrassGroupVersionDoesNotExist",
                                                "ExtractingBundleFailure",
                                                "PreLaunchFileFailure",
                                                "PostLaunchFileFailure",
                                                "BadPermissionError",
                                                "InternalServerError"
                                            ],
                                            "type": "string"
                                        },
                                        "failureReason": {
                                            "description": "The failure reason of the deployment job if it failed.",
                                            "type": "string"
                                        },
                                        "fleet": {
                                            "description": "The target fleet for the deployment job.",
                                            "maxLength": 1224,
                                            "minLength": 1,
                                            "pattern": "arn:.*",
                                            "type": "string"
                                        },
                                        "status": {
                                            "description": "The status of the deployment job.",
                                            "enum": [
                                                "Pending",
                                                "Preparing",
                                                "InProgress",
                                                "Failed",
                                                "Succeeded"
                                            ],
                                            "type": "string"
                                        },
                                        "tags": {
                                            "description": "The list of all tags added to the deployment job.",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9 _.\\-\\/+=:]*",
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "maxLength": 256,
                                                        "minLength": 0,
                                                        "pattern": "[a-zA-Z0-9 _.\\-\\/+=:]*",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "maxItems": 50,
                                            "minItems": 0,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ResourceNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "485": {
                        "description": "ConcurrentDeploymentException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "486": {
                        "description": "IdempotentParameterMismatchException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "clientRequestToken": {
                                        "description": "Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.",
                                        "maxLength": 64,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_\\-=]*",
                                        "type": "string"
                                    },
                                    "deploymentApplicationConfigs": {
                                        "description": "The deployment application configuration.",
                                        "items": {
                                            "description": "Information about a deployment application configuration.",
                                            "properties": {
                                                "application": {
                                                    "description": "The Amazon Resource Name (ARN) of the robot application.",
                                                    "maxLength": 1224,
                                                    "minLength": 1,
                                                    "pattern": "arn:.*",
                                                    "type": "string"
                                                },
                                                "applicationVersion": {
                                                    "description": "The version of the application.",
                                                    "maxLength": 255,
                                                    "minLength": 1,
                                                    "pattern": "[0-9]*",
                                                    "type": "string"
                                                },
                                                "launchConfig": {
                                                    "description": "The launch configuration.",
                                                    "properties": {
                                                        "environmentVariables": {
                                                            "description": "An array of key/value pairs specifying environment variables for the robot application",
                                                            "items": {
                                                                "properties": {
                                                                    "key": {
                                                                        "maxLength": 1024,
                                                                        "minLength": 1,
                                                                        "pattern": "[A-Z_][A-Z0-9_]*",
                                                                        "type": "string"
                                                                    },
                                                                    "value": {
                                                                        "maxLength": 1024,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "maxItems": 16,
                                                            "minItems": 0,
                                                            "type": "array"
                                                        },
                                                        "launchFile": {
                                                            "description": "The launch file name.",
                                                            "type": "string"
                                                        },
                                                        "packageName": {
                                                            "description": "The package name.",
                                                            "type": "string"
                                                        },
                                                        "postLaunchFile": {
                                                            "description": "The deployment post-launch file. This file will be executed after the launch file.",
                                                            "type": "string"
                                                        },
                                                        "preLaunchFile": {
                                                            "description": "The deployment pre-launch file. This file will be executed prior to the launch file.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "packageName",
                                                        "launchFile"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "required": [
                                                "application",
                                                "applicationVersion",
                                                "launchConfig"
                                            ],
                                            "type": "object"
                                        },
                                        "maxItems": 1,
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    "deploymentConfig": {
                                        "description": "The requested deployment configuration.",
                                        "properties": {
                                            "concurrentDeploymentPercentage": {
                                                "description": "The percentage of robots receiving the deployment at the same time.",
                                                "maximum": 100,
                                                "minimum": 1,
                                                "type": "integer"
                                            },
                                            "failureThresholdPercentage": {
                                                "description": "The percentage of deployments that need to fail before stopping deployment.",
                                                "maximum": 100,
                                                "minimum": 1,
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "fleet": {
                                        "description": "The Amazon Resource Name (ARN) of the fleet to deploy.",
                                        "maxLength": 1224,
                                        "minLength": 1,
                                        "pattern": "arn:.*",
                                        "type": "string"
                                    },
                                    "tags": {
                                        "description": "A map that contains tag keys and tag values that are attached to the deployment job.",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[a-zA-Z0-9 _.\\-\\/+=:]*",
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "maxLength": 256,
                                                    "minLength": 0,
                                                    "pattern": "[a-zA-Z0-9 _.\\-\\/+=:]*",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 50,
                                        "minItems": 0,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "clientRequestToken",
                                    "fleet",
                                    "deploymentApplicationConfigs"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/createFleet": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a fleet, a logical group of robots running the same robot application.",
                "operationId": "CreateFleet",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "arn": {
                                            "description": "The Amazon Resource Name (ARN) of the fleet.",
                                            "maxLength": 1224,
                                            "minLength": 1,
                                            "pattern": "arn:.*",
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "description": "The time, in milliseconds since the epoch, when the fleet was created.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the fleet.",
                                            "maxLength": 255,
                                            "minLength": 1,
                                            "pattern": "[a-zA-Z0-9_\\-]*",
                                            "type": "string"
                                        },
                                        "tags": {
                                            "description": "The list of all tags added to the fleet.",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9 _.\\-\\/+=:]*",
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "maxLength": 256,
                                                        "minLength": 0,
                                                        "pattern": "[a-zA-Z0-9 _.\\-\\/+=:]*",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "maxItems": 50,
                                            "minItems": 0,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "The name of the fleet.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_\\-]*",
                                        "type": "string"
                                    },
                                    "tags": {
                                        "description": "A map that contains tag keys and tag values that are attached to the fleet.",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[a-zA-Z0-9 _.\\-\\/+=:]*",
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "maxLength": 256,
                                                    "minLength": 0,
                                                    "pattern": "[a-zA-Z0-9 _.\\-\\/+=:]*",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 50,
                                        "minItems": 0,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/createRobot": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a robot.",
                "operationId": "CreateRobot",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "architecture": {
                                            "description": "The target architecture of the robot.",
                                            "enum": [
                                                "X86_64",
                                                "ARM64",
                                                "ARMHF"
                                            ],
                                            "type": "string"
                                        },
                                        "arn": {
                                            "description": "The Amazon Resource Name (ARN) of the robot.",
                                            "maxLength": 1224,
                                            "minLength": 1,
                                            "pattern": "arn:.*",
                                            "type": "string"
                                        },
                                        "createdAt": {
                                            "description": "The time, in milliseconds since the epoch, when the robot was created.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "greengrassGroupId": {
                                            "description": "The Amazon Resource Name (ARN) of the Greengrass group associated with the robot.",
                                            "maxLength": 1224,
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the robot.",
                                            "maxLength": 255,
                                            "minLength": 1,
                                            "pattern": "[a-zA-Z0-9_\\-]*",
                                            "type": "string"
                                        },
                                        "tags": {
                                            "description": "The list of all tags added to the robot.",
                                            "items": {
                                                "properties": {
                                                    "key": {
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "[a-zA-Z0-9 _.\\-\\/+=:]*",
                                                        "type": "string"
                                                    },
                                                    "value": {
                                                        "maxLength": 256,
                                                        "minLength": 0,
                                                        "pattern": "[a-zA-Z0-9 _.\\-\\/+=:]*",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "maxItems": 50,
                                            "minItems": 0,
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InternalServerException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ThrottlingException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "484": {
                        "description": "ResourceAlreadyExistsException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "architecture": {
                                        "description": "The target architecture of the robot.",
                                        "enum": [
                                            "X86_64",
                                            "ARM64",
                                            "ARMHF"
                                        ],
                                        "type": "string"
                                    },
                                    "greengrassGroupId": {
                                        "description": "The Greengrass group id.",
                                        "maxLength": 1224,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "The name for the robot.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "pattern": "[a-zA-Z0-9_\\-]*",
                                        "type": "string"
                                    },
                                    "tags": {
                                        "description": "A map that contains tag keys and tag values that are attached to the robot.",
                                        "items": {
                                            "properties": {
                                                "key": {
                                                    "maxLength": 128,
                                                    "minLength": 1,
                                                    "pattern": "[a-zA-Z0-9 _.\\-\\/+=:]*",
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "maxLength": 256,
                                                    "minLength": 0,
                                                    "pattern": "[a-zA-Z0-9 _.\\-\\/+=:]*",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "maxItems": 50,
                                        "minItems": 0,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "name",
                                    "architecture",
                                    "greengrassGroupId"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/createRobotApplication": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a robot application. ",
                "operationId": "CreateRobotApplication",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "arn": {
                                            "description": "The Amazon Resource Name (ARN) of the robot application.",
                                            "maxLength": 1224,
                                            "minLength": 1,
                                            "pattern": "arn:.*",
                                            "type": "string"
                                        },
                                        "lastUpdatedAt": {
                                            "description": "The time, in milliseconds since the epoch, when the robot application was last updated.",
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "The name of the robot application.",
                                            "maxLength": 255,
                                            "minLength": 1,
                                            "pattern": "[a-zA-Z0-9_\\-]*",
                                            "type": "string"
                                        },
                                        "revisionId": {
                                            "description": "The revision id of the robot application.",
                                            "maxLength": 40,
                                            "minLength": 1,
                                            "pattern": "[a-zA-Z0-9_.\\-]*",
                                            "type": "string"
                                        },
                                        "robotSoftwareSuite": {
                                            "description": "The robot software suite used by the robot application.",
                                            "properties": {
                                                "name": {
                                                    "description": "The name of the robot software suite.",
                                                    "enum": [
                                                        "ROS"
                                                    ],
                                                    "type": "string"
                                                },
                                                "version": {
                                                    "description": "The version of the robot software suite.",
                                                    "enum": [
                                                        "Kinetic"
                                                    ],
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "sources": {
                                            "description": "The sources of the robot application.",
                                            "items": {
                                                "description": "Information about a source.",
                                                "properties": {
                                                    "architecture": {
                                                        "description": "The taget processor architecture for the application.",
                                                        "enum": [
                                                            "X86_64",
                                                            "ARM64",
                                                            "ARMHF"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "etag": {
                                                        "description": "A hash of the object specified by <code>s3Bucket</code> and <code>s3Key</code>.",
                                                        "type": "string"
                                                    },
                                                    "s3Bucket": {
                                                        "description": "The s3 bucket name.",
                                                        "maxLength": 63,
                                                        "minLength": 3,
                                                        "pattern": "[a-z0-9][a-z0-9\\-]*[a-z0-9]",
                                                        "type": "string"
                                                    },
[...]
